
/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

html {
     color: #404161;
      /* font-size: 62.5%; */
}


h1, h2, h3, h4, h5, h6 {
     font-family: cursive;
}

ul li {
     margin: 0;
     display: inline-block;
     list-style-type: none;
}

a {
     text-decoration: none;
     color: #404161
}
   
/******************************************
/* BASE STYLES
/*******************************************/

body {

}

select, a[role=button] {
     background-color: #ff8800;
     border: 1px solid #f7d3a3;
     padding: 0.4rem 0.8rem;
     color: white;
     border-radius: 5%;
}

/******************************************
/* NAVIGATION
/*******************************************/

nav ul {
     text-align: right;
     margin-right: 5rem;
     margin-bottom: 5rem;
}

nav a {
     padding: 0.5rem;
     font-weight: bold;
     font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
}


nav .fa-solid {
     width: 20px;
}


nav :nth-last-child(2) .fa-solid {
     width: 20px;
     margin-left: 5rem;
     margin-right: 1rem;
}

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/



.images-container img {
     width: 20%;
     margin: 2%;
     height: 300px;
     float: left;
     border: 1px solid palevioletred;
   }
   
   .video-cover {
     width: 600px;
     height: 300px;
     border: 1px solid palevioletred;
     display: block;
   }
   
   .testimonials-switch li {
     width: 1rem;
     height: 1rem;
     border-radius: 50%;
     background-color: #ffdbb2;
   }

   .testimonials-switch li:nth-child(3) {
     background-color: #ff8800;
     border: 1px solid #ffc107;
   }

   .stars li {
     color: #ffc107;
   }
